body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.overflow {
    overflow:hidden;
}
.timelinewrap {
    overflow: hidden;
}
.checkout-wrap {
    height: 45px;
    margin: 10px 0 34px;
    position: relative;
}
.checkout-wrap .title {
    font-weight:bold;
    font-size: 20px;
    float:left;
    margin-right: 20px;
}

ul.checkout-bar {
    max-width: 1200px;
    width:100%;
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, .2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, .2);
    background-size: 35px 35px;
    background-color: #ececec;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .4) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .4) 75%, transparent 75%, transparent);
    border-radius: 15px;
    height: 20px;
    margin:0;
    padding: 0;
    float: left;
}
ul.checkout-bar li {
    color: #ccc;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    display: block;
    margin: 25px 0 0;
    padding: 0;
    text-align: center;
    width: 11.11%;
    float: left;
    cursor:pointer;
}

ul.checkout-bar li:before {
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, .2);
  box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, .2);
  background: #ddd;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    height: 30px;
    left: 100%;
    line-height: 30px;
    position: absolute;
    top: -33px;
    width: 30px;
    z-index: 100;
    margin-left: -15px;
}
ul.checkout-bar li.active {
  color: #57aed1;
  font-weight: bold;
}
ul.checkout-bar li.active:before {
  background: #57aed1;
}
ul.checkout-bar li.visited {
  color: #8bc53f;
}
ul.checkout-bar li.visited:before {
  background: #8bc53f;
}
ul.checkout-bar li:nth-child(1):before {
  content: "1";
}
ul.checkout-bar li:nth-child(2):before {
  content: "2";
}
ul.checkout-bar li:nth-child(3):before {
  content: "3";
}
ul.checkout-bar li:nth-child(4):before {
  content: "4";
}
ul.checkout-bar li:nth-child(5):before {
  content: "5";
}
ul.checkout-bar li:nth-child(6):before {
    content: "6";
}
ul.checkout-bar li:nth-child(7):before {
    content: "7";
}
ul.checkout-bar li:nth-child(8):before {
    content: "8";
}
ul.checkout-bar li:nth-child(9):before {
    content: "9";
}
ul.checkout-bar li.visited.ok:before{
    content: "✔";
}
ul.checkout-bar li.visited.warning:before{
    content: "!";
    background-color: #FF9800;
}
ul.checkout-bar li.visited.warning .after {
    background-color: #FF9800;
}
ul.checkout-bar li.visited.warning{
    color: #FF9800;
}
ul.checkout-bar li.visited.error:before{
    content: "✘";
    background-color: #DD2C00;
}
ul.checkout-bar li.visited.error .after {
    background-color: #DD2C00;
}
ul.checkout-bar li.visited.error{
    color: #DD2C00;
}

.checkout-bar li .after {
    background-size: 35px 35px;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, .2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, .2);
    content: "";
    height: 20px;
    width: 0%;
    left: 0;
    position: absolute;
    top: -25px;
    z-index: 0;
    border-radius: 15px;
}
.checkout-bar li.active .after {
    background-color: #57aed1;
}
ul.checkout-bar li.visited .after {
    background-color: #8bc53f;
    width: 100%;
}

.maininfo {
    float: right;
    height: 0;
    width: 400px;
}
.shortinfo{
    font-size: 14px;
    line-height: 19px;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid #ccc;
}